
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Crimson Text', Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media print {
  @page {
    margin: 0.5in;
  }
  
  body * {
    visibility: hidden;
  }
  
  #invoice-preview,
  #invoice-preview * {
    visibility: visible;
  }
  
  #invoice-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
